* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #0f0f0f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#heading {
    font-size: 50px;
    margin-left: 29.5%;
    margin-top: 10%;
    color: rgb(67, 168, 67);
}

#res {
    border: solid #000000;
    color: #ffd452;
    height: 48px;
    font-size: 20px;
    width: 423px;
    text-align: right;
    margin-left: 30%;
    background-image: linear-gradient(to left, #3a3636, #2D3436);
    border-radius: 10px;
}

#btns {
    height: 50px;
    font-size: 18px;
    float: left;
    margin-left: 30%;
    margin-top: 2%;
}

.row {
    margin-bottom: 2%;
}

button {
    margin-right: 3px;
    border-radius: 5px;
}

#btns .buttonClass {
    width: 20%;
}

#btn0,
#btn1 {
    background-image: linear-gradient(to right, black 0%, azure 51%, black 100%);
    color: black;
    padding-left: 2.5em;
    padding-right: 2.65em;
    font-size: 1em;
}

#btnClr,
#btnEql {
    background-image: linear-gradient(to right, black 0%, azure 51%, black 100%);
    color: black;
    padding-left: 2.5em;
    padding-right: 2.65em;
    font-size: 1em;
}

#btnSum,
#btnMul,
#btnDiv,
#btnSub {
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1em;
    background-image: linear-gradient(to right, black 0%, azure 51%, black 100%);
}
